[Unit]
Description=kube-apiserver
After=network.target firewalld.service

[Service]
ExecStart=/bin/sh -c "kube-apiserver --etcd-servers=http://192.168.99.121:4001 --insecure-bind-address=192.168.99.121 --insecure-port=8080 --service-cluster-ip-range=10.254.0.0/16 --v=0 --logtostderr=true --bind-address=192.168.99.121 --client-ca-file=/srv/kubernetes/ca.crt --tls-cert-file=/srv/kubernetes/server.crt --tls-private-key-file=/srv/kubernetes/server.key --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,SecurityContextDeny,ResourceQuota 2>&1 >> /var/log/kube-apiserver.log"

[Install]
WantedBy=multi-user.target
